<div class="container">
    @if (pokemon) {
        <div class="row">
            <div class="col-md-6">
                <img [src]="pokemon.sprites.front_default" alt="Pokémon {{pokemon.name}}">
            </div>
            <div class="col-md-6">
                <h1>{{pokemon.name}}</h1>
                <p>Type: {{pokemon.types[0].type.name}}</p>
                <p>Poids: {{pokemon.weight / 10}} kg</p>
                <p>Taille: {{pokemon.height / 10}} m</p>
            </div>
        </div>
    }
</div>