.navbar {
    padding: 15px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: #f44336 !important; 
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
}

.form-control.search-bar {
    border-radius: 20px; // arrondis pour un effet plus doux
    padding: 0.5rem 1rem;
    border: 1px solid #f44336; // harmonisation avec la nav-bar
}

.form-control.search-bar:focus {
    box-shadow: none;
    border-color: #d32f2f;
}

.navbar-nav {
    flex-direction: row;
}

.nav-link {
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.nav-link:hover {
    color: #ffeb3b; 
    text-decoration: underline;
}

.img  {
    width: 150px;
}
